.control-area-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.input-text-line {
    text-align: center;
    line-height: 2.7rem;
    border-radius: 30px;
    background-color: #EBEEF3;
    color: #3D3D3D;
    min-width: 100%;

    padding-top: 10px;
    border: none;
    filter: drop-shadow(0.26px 5px 0 #BBC4D1);
}

.input-text-line::placeholder {

    text-transform: uppercase;
    font-family: poppins;
    font-size: 2rem;

}

.lines-control {
    display: flex;
    gap: 1.5rem;
}

.lines-control button {
    width: 56px;
    height: 52px;
    border-radius: 10px;
    /* font-size: 2rem; */
    border: none;
    color: white;
}

.switch {
    background-color: #66C4DC;
    filter: drop-shadow(0.26px 5px 0 #048B97);
    text-shadow: 0.16px 3px #048B9761;
}

.add {
    background-color: #42EB5C;
    filter: drop-shadow(0.26px 5px 0 #015D33);
    text-shadow: 0.16px 3px #015D3361;
}

.remove {
    background-color: #CF1D37;
    filter: drop-shadow(0.26px 5px 0 #8C0606);
    text-shadow: 0.16px 3px #8c060661;
}

.font-control {
    height: 150px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    align-items: center;
    background-color: #19A59F;
    border-radius: 25px;
    padding: 10px;
}

.font-control button {
    width: 54px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

.font-control>* {
    filter: drop-shadow(0.26px 5px 0 #5c5c5c8f);
}

.font-control .impact {
    height: 50px;
    border-radius: 10px;
    grid-column: 1/ 4;
}

.impact::placeholder {
    text-transform: uppercase;
    color: black;
    padding-left: .6rem;
    font-size: 1.3rem;
}

.efects-container {
    background-color: white;
    width: 444.6px;
    height: 89.3px;
    border-radius: 44.65px;
}

.save-buttons {
    width: 444.6px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.save-buttons button {
    /* background-color: #fff; */
    border-radius: 15px;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    flex-grow: 1;
    border: none;
}

.share-btn{
    background-color: #1E7CD3;
    filter: drop-shadow(0.31px 6px 0 #165C9C);
}
.download-btn{
    background-color: #8F44BB;
    filter: drop-shadow(0.31px 6px 0 #632687);
    
}