@import '/css/header.css';
@import '/css/main.css';
@import '/css/editor.css';
@import '/css/layout.css';
@import '/css/control-area.css';
@import '/css/typography.css';
@import '/css/helpers.css';
*{
    box-sizing: border-box;
}
body{
    margin: 0;
   background-color: #22252C;
    font-family: Poppins;
}