.editor-contaioner{
    display: flex;
    max-width: 1200px;
    margin: auto;
    
    gap: 5%;
}

.control-area{
    flex-basis: 55%;
    background-color: #ebeef31f;
    border-radius: 20px;
    padding: 20px;
}

.edit-area{
    flex-basis: 45%;
    max-height: 100%
}

canvas{
    background-color: #fff;
    border-radius: 20px;
}