
.header-gallery {

    background: rgb(12, 152, 185);
    background: linear-gradient(90deg, rgba(12, 152, 185, 1) 0%, rgba(51, 190, 109, 1) 100%);
    
    font-family: poppins-medium;
}

.header-gallery .logo {
    font-size: 1.375rem;
  
}

 a {
    font-size: 1.3rem;
    text-decoration: none;
}

.header-anchors >* {
    margin-inline-end: 3rem;
}
.header-anchors a:last-child {
    margin-inline-end: 4rem;
    
}

.about-anchor{
    padding: 2px 16px;
    border-radius: 30px;
}
.gallery-anchor{
    color: #FEFEFE;
    padding: 2px 16px;
    
}

.memes-anchor{
    color: #FEFEFE;
    padding: 2px 16px;
    
}

.active{
    background-color: #FEFEFE;
    color: #21AC91;
  

}