
/* POPPINS FONT */
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins-Medium.ttf");
}
